.navbar.navbar-default.container {
  display: flex;
  justify-content: center;
  background-color: black;
}
.region.region-navigation .page-header {
  border: none;
  padding: 0;
  margin: 15px 0;
  color: #096caf;
}
.guestbook-form label {
  color: #096caf;
}
.form-type-tel{
  display: flex;
  flex-direction: column;
}
.guestbook-form {
  width: 500px;
  margin: 0 auto;
}
.guestbook-form .form-item {
  text-align: center;
}
.guestbook-form .class_submit.btn {
  display: block;
  margin: 0 auto;
  background-color: #0b82f9;
  border-color: #0b82f9;
  height: 46px;
  width: 120px;
}
#wrapper {
  margin-bottom: 80px;
}
.table_revue {
  display: flex;
  margin: 0 auto 85px ;
  justify-content: center;
}
.table_revue .revue_avatar {
  width: 70px;
  height: 70px;
}
.image_wrapper {
  width: 200px;
  margin-left: auto;
}
.user_right {
  margin-left: 15px;
  line-height: 17px;
}
.user_buttons {
  display: flex;
}
.user_info {
  display: flex;
  margin-right: auto;
}
.user_content {
  display: flex;
  width: 700px;
}
.textmessage {
  max-width: 500px;
}
.ui-dialog .ui-dialog-buttonpane {
  display: flex;
  justify-content: center;
  margin-left: 10px;
}
body .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
body .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:nth-child(even) {
  background-color: #a94442;
  border-radius: 4px;
  border: 1px solid #a94442;
  padding: 5px 14px;
}
.revue_table_edit {
  margin: 0 8px 8px 0
}
